


/* .posts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  
}

.post {
  border-radius: 15px;
  width: 500px;
  margin-bottom: 50px;
}

.post-header {
  display: flex;
  justify-content: space-between;
  
}


.post-footer {
  padding: 1px;
}

.footer-comment{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1px;
  color: grey;
  

} */